[Unit]
Description=Time/Date Display for StreamDeck
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=%h/.config/streamdeck-scripts
ExecStart=/bin/bash %h/.config/streamdeck-scripts/time_date.sh
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
